.card {
    padding: 30px;
    margin-top: -4vh;

}

.successContainer {
    padding: 0px;
    margin-top: 15vh;
}

#footer {
    padding-bottom: 2vh;
    margin-top: 5vh;
    color: #f7f7f7;
    text-align: center;
}